@import "base";

#header {
  height: 100vh;
  background: url(../pics/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: $white;

  .hnav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    &__left,
    &__right {
      border: 1px solid $green-dark;
      background: $green-shadow;
      border-radius: 1rem;
      font-size: 1.4rem;
      padding: 1rem;
    }
  }

  .imposter {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      background: $green-shadow;
      border-right: 2px solid $green-dark;
      border-left: 2px solid $green-dark;
      border-bottom: none;
      border-radius: 1rem 1rem 0 0;
      font-size: 3rem;
      padding: 2rem 3rem 0 3rem;
      min-width: 25rem;


      @media only screen and (max-width: $bp-small) {
        width: 60vw;
      }
    }

    .form {
      background: $green-shadow;
      border: 2px solid $green-dark;
      border-top: none;
      border-radius: 1rem;
      padding: 2rem;
      min-width: 40rem;

      &__error{
        margin-top: 0.5rem;
        font-size: 1.6rem;
      }

      &__inputs {
        display: flex;

        &-select {
          grid-area: sl;
          font-size: 1.5rem;
          color: $white;
          background: $green-shadow;
          border: 2px solid $white;
          border-right: none;        
          padding: 0 2rem;
          height: 4rem;
          &:focus {
            box-shadow: 0px 0px 5px $white;
            outline: none;
          }
        }

        &-dates {
          grid-area: dt;
          display: flex;
          font-size: 1.5rem;
          height: 4rem;
          background: $green-shadow;
          border: 2px solid $white;
          border-right: none;
          border-left: none;
          color: $white;

          .date-start,
          .date-end {
            position: relative;
          }
        }
  
        &-city {
          grid-area: ct;
          &::placeholder {
            color: $white;
          }
        }
  
        &-btn {
          grid-area: bt;
          width: max-content;
          width: 100%;
        }

        @media only screen and (max-width: $bp-medium) {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          grid-template-areas:
            "ct ct ct"
            "sl dt dt"
            "bt bt bt";


          &-dates {
            justify-content: space-around;
          }
          
          &-select,
          &-dates {
            border-right: 2px solid $white;
            border-top: none;
            border-bottom: none;
          }

          input, button{
            width: 100%;
          }
        }

        @media only screen and (max-width: $bp-small) {
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: minmax(0, 1fr);
          grid-template-areas: "ct" "sl" "dt" "bt";

          &-dates {
            border-left: 2px solid $white;
            border-top: 2px solid $white;
          }

          &-select,
          &-dates {
            border-bottom: none;
          }
        }
      }

      @media only screen and (max-width: $bp-medium) {
        width: 80vw;
      }
    }
  }
}
